.container{
    display: flex;
    justify-content: center;       
}

   

/* côté gauche*/ 

.section1{
    width: 400px;
    height: 1684px;
    margin-left: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #feca07;
    border: 1px solid black;
    border-right: none;       
}
#foto{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-left: 120px;  
}
#foto{
    border-radius: 50%;
}
.contact1{
    display: flex;
    justify-content: center;
    background-color: #404040;
    margin-top: 40px;
    color: #feca07;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 40px;
}
.moi2{
    display: flex;
    justify-content: center;
    background-color: #404040;
    margin-top: 20px;
    color: #feca07;
}
.moi{
    height: 550px;
    text-align: left;   
}
.moi p{
    margin-left: 40px;
    margin-right: 40px;
}
.loisirs1{
    display: flex;
    justify-content: center;
    background-color: #404040;
    margin-top: 250px;
    color: #feca07;
}

.fas{
    display: flex;
    padding-top: 20px;
    margin-left: 40px;
}
.fab{
    display: flex;
    padding-top: 30px;
    margin-left: 40px;
}

/* côté droit */

.section2{
    width: 800px;
    height: 1684px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-left: none;
    
    order: 1;
}
.titre{    
    width: 350px;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 1.6em;
}
.titre p{
    margin-top: -30px;
    margin-left: 5px;
    color: #666666;
}
#span1{
    color: #feca07;
    text-decoration: none;
}
span{
    text-decoration: underline #feca07;
}
.form{ 
    display: flex;   
    margin-top: 50px;
    height: 90px;
    margin-left: 60px; 
    font-size: 1.2em;
    width: 790px;
}
.ligne1{
    
    margin-top: -10px;
    border-bottom: 2px solid #feca07;
    margin-left: 60px;
    width: 700px;
}
.date1{
    color: #666666;
    margin-left: 15px; 
    margin-top: 5px;
    width: 250px;
}


.descript{
    color: #666666;
    margin-left: 340px;
    margin-top: -47px;
    display: flex;
    width: 450px;
    height: 208px;
    flex-direction: column;
}
.exp{
    width: 650px;
    font-size: 1.2em;
    margin-left: 60px;
    margin-top: 130px;
}
.ligne2{
    
    margin-top: -10px;
    border-bottom: 2px solid #feca07 ;
    margin-left: 60px;
    width: 700px;
}
.date2{
    color: #666666;
    width: 200px;
    margin-left: 15px;
    margin-top: 0px;
    height: 500px;
}
.expe1{
    display: flex;
    margin-left: 340px;
    margin-top: -500px;
    flex-direction: column;
    width: 450px;
    height: 350px;
    color: #666666;
    
}
.expe2{
    margin-top: -160px;
    
    display: flex;
    margin-left: 340px;
    width: 450px;
    flex-direction: column;
    color: #666666;
    
}
.expe3{
    margin-top: 50px;
    display: flex;
    margin-left: 340px;
    width: 450px;
    flex-direction: column;
    color: #666666;
    
}
.reco{
   margin-top: 40px;
    width: 550px;
    font-size: 1.2em;
    margin-left: 60px;
}
.ligne3{
    margin-top: -10px;
    border-bottom: 2px solid #feca07 ;
    margin-left: 60px;
    width: 700px;
}
.reco1{
    margin-left: 140px;
    width: 170px;
    margin-top: 20px;
    color: #666666;
}
.reco2{
    width: 200px;
    margin-left: 470px;
    margin-top: -163px;
    color: #666666;
}
.fas{
    margin-left: 0px;
    margin-right: 20px;
    color: #feca07;
}
li{
    list-style-type: none;
}

li:before{
    content: "\25C9";
    color: #feca07;
} 
.date2 p:before{
     margin-left: 40px;
     content: "\25CF";
     color: #feca07;
     
}
.date2 p{
    margin-top: 170px;
    margin-bottom: -80px;
}

@media screen and (max-width: 1332px){
    
    .container{
        flex-direction: column-reverse;
       }
    #foto{
        
        margin-left: 650px;
        margin-top: -2000px;
    }
    .section1{
        
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
        border: none;
        text-align: center;  
    }
    .contact1{
        width: 100%;
        display: flex;
        text-align: center; 
        margin-top: 0;       
    }
    .info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 1.4em;
    }
    .moi{
        margin-top: 20px;
        width: 100%;
        font-size: 1.4em;
    }
    .loisirs1{
        margin-top: -100px;
        
    }
    .section2{
        border: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .date1{
        display: flex;
        color: #666666;
        margin-left: 250px;
        margin-top: 5px;
        width: 250px;
    }    
    .descript{
        color: #080808;
        margin-left: 300px;
        margin-top: 0px;
        display: flex;
        width: 450px;
        height: 208px;
        flex-direction: column;
        font-size: 1.2em;
    }
    .date2{
        display: flex;
        flex-direction: column;
        color: #666666;
        margin-left: 250px;
        justify-content: space-between;
        height: 600px;
    }
    .date2 p{
        display: flex;
        
        margin-top: 290px;
    }
    .expe1{
        display: flex;
        margin-left: 300px;
        margin-top: -550px;
        flex-direction: column;
        width: 450px;
        height: 350px;
        color: #080808;
        font-size: 1.2em;
    }
    .expe2{
        display: flex;
        margin-top: -20px;
        display: flex;
        margin-left: 300px;
        width: 450px;
        flex-direction: column;
        color: #080808;
        font-size: 1.2em;
    }
    .expe3{
        margin-top: 100px;
        display: flex;
        margin-left: 300px;
        width: 450px;
        flex-direction: column;
        color: #080808;
        font-size: 1.2em;
    }
    .reco1{
        
        justify-content: space-evenly;
        width: 170px;
        margin-top: 20px;
        color: #666666;
    }
    .reco2{
        width: 200px;
        margin-left: 570px;
        margin-top: -163px;
        color: #666666;
    }
}

 



























