.container{
    display: flex;
    justify-content: center; 

}
.section1{
    width: 400px;
    
    margin-left: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #feca07;
    border: 1px solid black;
    border-right: none;       
}

#foto{
    border-radius: 50%;
    margin-top: 5%;
    float: top;
    
}
.contact1{
    display: flex;
    justify-content: center;
    background-color: #404040;
    margin-top: 40px;
    color: #feca07;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 40px;
}
.moi2{
    display: flex;
    justify-content: center;
    background-color: #404040;
    margin-top: 20px;
    color: #feca07;
}
.moi{
    height: 550px;
    text-align: left;   
}
.moi p{
    margin-left: 40px;
    margin-right: 40px;
}
.loisirs1{
    display: flex;
    justify-content: center;
    background-color: #404040;
    margin-top: 250px;
    color: #feca07;
}

.fas{
    display: flex;
    padding-top: 30px;
    margin-left: 40px;
}
.fab{
    display: flex;
    margin-left: 40px;     
}
.fab, .far{
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
	width: 59px;
	height: 47px;
	border: 1px solid black;
	border-radius: 50%;
	margin-right: 7px;
}

/*page de droite*/

.page2{
    width: 800px; 
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-left: none;   
}
.titre{    
    margin-top: 50px;
    margin-left: 60px;
    font-size: 1.6em;
}
.titre p{
    margin-top: -30px;
    margin-left: 5px;
    color: #666666;
}
#span1{
    color: #feca07;
    text-decoration: none;
}
#dev{
    text-decoration: underline #feca07;
}
.section{
    margin-bottom: 100px;
}
.date1, .date2{
    float: left;
    margin-left: 50px;
}
.descript, .expe{
    margin-left: 340px;
    margin-right: 20px;
    margin-top: 55px;
}
.date1{
    margin-top: 30px;
}
.rond2:before{
    content: "\25C9";
    color: #feca07;
    list-style-type: none;
}
.rond1:before{
    content: "\25CF";
    color: #feca07;     
}
.date2 p{
    margin-top: 50px;
    margin-bottom: 140px;
}
.date2 p h3{
    display: inline-block;
}
.reco{
    margin-top: 20px;
}  
.reco1{
    float: left;
    margin-left: 50px;
    margin-top: 26px;
}
.reco2{
    margin-top: 50px;
    margin-left: 450px;
}
.fas{
    margin-left: 50px;
    margin-right: 20px;
    color: #feca07;
}
hr{
    margin-left: 50px;
    margin-right: 20px;
    background-color: #feca07;
    border: none;
    height: 2px;
}
@media screen and (max-width: 1249px){
    
    .container{
        flex-direction: column-reverse;
       }
    #foto{
      display: none; 
    }
    .titre{
        text-align: center;
    }
    .section1{        
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
        border: none;
        text-align: center;  
    }
    .contact1{
        width: 100%;
        display: flex;
        text-align: center; 
        margin-top: 0;       
    }
    .info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 1.4em;
    }
    .moi{
        margin-top: 20px;
        width: 100%;
        font-size: 1.4em;
    }
    .loisirs1{
        margin-top: -100px;
        
    }
    .page2{
        border: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        
    }
    .date1{
        display: flex;
        color: #666666;
        margin-left: 50px;
        margin-top: 5px;
        width: 250px;
    }
    .date2 p{
        margin-bottom: 220px;
    }
    .descript{
        color: #080808;
        margin-left: 250px;
        margin-top: 0px;
        display: flex;
        width: 450px;
        height: 220px;
        flex-direction: column;
        font-size: 1.1em;
    }
    .expe{
        color: #080808;
        margin-left: 300px;
        margin-top: 40px;
        display: flex;
        width: 450px;
        flex-direction: column;
        font-size: 1.1em;
    }
    
    .reco1{
        float: left;
        margin-left: 20%;
        margin-top: 26px;
    }
    .reco2{
        margin-top: 50px;
        margin-left: 60%;
    }  
}
























